@using MvcPWy.Models
@model MvcPWy.Models.Project
<h3>Create new project</h3>


@using (Ajax.BeginForm("Create", new
{
    SortOrder = ViewBag.SortOrder,
    SortDirection = ViewBag.SortDirection,
    page = ViewBag.ActualPage,
    search = ViewBag.Search
}, StandardAjaxOptions.AjaxOptions("POST", "content", true, "SaveResponse()")))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Code, "text",
                       new Dictionary<string, object> { { "tabindex", "1" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Sqm, "text",
                       new Dictionary<string, object> { { "tabindex", "3" } })
                        @Html.ValidationMessageFor(model => model.Sqm, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Region, "text",
                       new Dictionary<string, object> { { "tabindex", "5" } })
                        @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Town, "text",
                       new Dictionary<string, object> { { "tabindex", "7" } })
                        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.PolymerCheckBoxFor(m => m.Order)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.PolymerCheckBoxFor(m => m.Offer)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.PolymerCheckBoxFor(m => m.Claim)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Name, "text",
                       new Dictionary<string, object> { { "tabindex", "2" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Country, "text",
                       new Dictionary<string, object> { { "tabindex", "4" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Province, "text",
                       new Dictionary<string, object> { { "tabindex", "6" } })
                        @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.PolymerTextBoxFor(model => model.Date, "text",
                       new Dictionary<string, object> { { "tabindex", "8" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group btn-save">
            <div class="col-md-4">
                <paper-button tabindex="9" raised onclick="javascript: submitForm('#createSubmit');">Save</paper-button>
                <input class="hidden" type="submit" value="" id="createSubmit" />
            </div>
        </div>
    </div>
}

<div>
    @Ajax.ActionLink("Back to list", "Index", "HitList", new
{
    SortOrder = ViewBag.SortOrder,
    SortDirection = ViewBag.SortDirection,
    page = ViewBag.ActualPage,
    search = ViewBag.Search,
    Class = "Project"
}, StandardAjaxOptions.AjaxOptions(true))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    window.scrollTo(0, 0);
</script>
<script>
    function SaveResponse() {
        if ("@TempData["IsValid"]" != "Ko")
            ShowToast("Project created successfully", '');
        else
            ShowToast('Please compile all required field', 'Ko')
    }
</script>